h2 {
  font-size: 1.6em;
}

button {
  font-size: 2.5em;
}

#cover-page .container{
  background-image: url(./images/cover_page/cover_page_landscape_pale.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#cover-page img {
  display: none;
}

#cover-page button{
  margin: 1% auto;
}

#main-page .container {
  padding: 2%;
}

#main-page h1 {
  font-size: 3.6em;
}

#main-page h2 {
  margin: 2% auto
}

#main-page ul {
  padding: 1%;
  font-size: 1.5em;
}

#main-page li {
  font-size: .8em;
}

#down-arrow {
  display: none;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.figures {
  width: 46vmin;
  height: 46vmin;
}

.img-grid {
  max-width: 100%;
  max-height: 100%;
}

.img-grid,
.img-hover {
  width: 46vmin;
  height: 46vmin;
}

#results-page form {
  height: 100vmin;
  width: 30vmax;
  }

#results-page .container {
  padding: 3% 3%;
  flex-direction: row;
}

#plant-info {
  height: 100vmin;
  width: 50vmax;
}

#plant-info main {
  padding: 0;
  margin: 3%;
}

#plant-info main img {
  margin-bottom: .1em;
  width: 30%;
}

#address-box {
  flex-direction: column;
}

#address-box label:nth-child(1)  {
  display: none;
}

#address-box input {
  flex-grow: 4;
}

#address {
  width: 15em;
  font-size: 1em;
  margin: .5em auto;
}

#no-results {
  padding: 10% 0%;
}

#no-results h2 {
  width: 70%;
}

#no-results button {
  margin: 5%;
}

/* Larger than mobile */
@media (min-width: 732px) {
  h2 {
    font-size: 1.5em;
  }

  button {
    font-size: 3em;
  }

  #main-page h1 {
    font-size: 4.5em;
    margin: 2% auto;
  }

  #main-page h2 {
    font-size: 2em;
    margin: 3% auto;
  }

  #main-page h1:nth-child(3) {
    font-size: 3.75em;
  }

  #main-page ul {
    font-size: 1.7em;
    padding: 3% 3%;
  }

  #results-page .container {
    padding: 3% 3%;
  }

  #results-page h1 {
    font-size: 2.5em;
  }

  #results-page h2 {
    font-size: 2em;
  }

#plant-info {
    margin-top: 0;
  }

  #plant-info main img {
    height: 45%;
    width: 45%;
    margin: 5%;
  }

  #plant-info main ul {
    font-size: 1em;
    margin: 5%;
  }

  form h1 {
    font-size: 4em;
  }

  #address-box label {
    font-size: 1.5em;
  }

  #location-submit {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
  }

}

/* Larger than tablet or desktop */
@media (min-width: 1000px) {
  h1 {
    font-size: 10em;
  }

  h2 {
    font-size: 3em;
  }

  button {
    font-size: 4.5em;
  }

  #main-page h1 {
    font-size: 10em;
    margin: 0 auto;
  }

  #main-page h2 {
    font-size: 3.75em;
    margin: 2% auto;
  }

  #main-page h1:nth-child(3) {
    font-size: 7em;
  }

  #main-page ul {
    font-size: 2.5em;
  }

  #img-browse {
    margin-top: 20vmin;
  }

  .img-hover h1 {
    font-size: 3em;
  }

  #results-page h1 {
    font-size: 4em;
  }

  #results-page h2 {
    font-size: 3em;
  }

  #address {
    width: 8em;
    font-size: 2.25em;
    margin: .5em auto;
  }

  #plant-info main {
    margin: 5%;
  }

  #plant-info main p {
    font-size: 1.75em;
  }

  #plant-info main p:nth-child(3) {
    font-size: 2em;
  }

  #plant-info main img {
    margin-right: 5%;
  }

  #plant-info main button {
    font-size: 2.5em;
    margin: 5%;
  }

  #address-box label {
    font-size: 2.5em;
  }

  #results-page form h1 {
    font-size: 4.5em;
  }

  #location-submit {
    font-size: 2.5em;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
