
body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 5em;
  font-family: 'Amatic SC', cursive;
  margin: 5% auto;
}

h2 {
  font-size: 1em;
  margin: 5% auto;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  border: 1px dotted greenYellow;
  background-color: white;
}

.container {
  text-align: center;
  height: 90vmax;
  width: 90vmin;
  margin: 3vmax auto;
  position: relative;
}

.cover-page button{
  margin: 5% auto;
}

.main-page h1 {
  font-size: 3em;
}

.main-page button {
  margin: 10% auto;
}

.main-page #down-arrow {
  width: 35%;
  margin: 5em auto 0 auto;
}

.img-browse .container {
  margin: 2em auto;
}

.img-grid {
  width: 90vmin;
  height: 90vmin;
  background-position: center center;
  background-size: cover;
  border: .75em solid black;
  margin: .5em auto;
  position: relative
  z-index: 1;
}

.img-grid-hover {
  background-color: rgba(20, 20, 20, 0.75);
  color: white;
  width: 94vmin;
  height: 94vmin;
  top: 0;
  left: 0;
  z-index: 5;
}

.img-grid-hover h1, {
  font-size: 4em;
}

.img-grid-hover h2 {
  font-size: 2em;
}

.results h1 {
  font-size: 3em;
  margin: 20px auto;
}

.results p, .results label .results input{
  font-size: 1em;
}

.results form {
  width: 90%;
  margin 0 auto;
}

.results .plant-info {
  height: 10vmax;
  width: 90vmin;
}

.results .address-box {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.address-box #address {
  border: 1px greenYellow solid;
  width: 5em;
}

.address-box label {
 flex-grow: 1;
}

.address-box input {
  flex-grow: 4;
}

.results .buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1vmax;
  margin-top: 2vmax;
}

.results .location-submit, .results .search-again {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  border: 1px greenYellow solid;
  background-color: white;
  font-size: 1em;
  margin: 3px 6px;
}

.results .map {
  height: 50vmax;
  width: 90vmin;
  margin: 3vmax auto;
}

.results .plant-info h1 {
  font-size: 2em;
  margin: 5px auto;
}

.results .plant-info img {
  height: 50vmax;
}

.hidden {
  display: none;
}
