
body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 5em;
  font-family: 'Amatic SC', cursive;
  margin: 5% auto;
}

h2 {
  font-size: 1em;
  margin: 5% auto;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  border: 1px dotted greenYellow;
  background-color: white;
}

.container {
  text-align: center;
  height: 90vmax;
  width: 90vmin;
  margin-top: 5vmax;
  margin-bottom:5vmax;
  margin-left: 5vmin;
  margin-right: 5vmin;
  position: relative;
}

.cover-page button{
  margin: 5% auto;
}

.main-page h1 {
  font-size: 3em;
}

.main-page button {
  margin: 10% auto;
}

.main-page #down-arrow {
  width: 35%;
  margin: 5em auto 0 auto;
}

.img-browse .container {
  margin: 2em auto;
}

.img-grid {
  width: 90vmin;
  height: 90vmin;
  background-position: center center;
  background-size: cover;
  border: .75em solid black;
  margin: .5em auto;
}

.img-grid-hover {
  background-color: rgba(20, 20, 20, 0.75);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.map-results h1 {
  font-size: 3em;
  margin: 20px auto;
}

.map-results p, .map-results label .map-results input{
  font-size: 1em;
}

.map-results form {
  width: 90%;
  margin 0 auto;
}

.map-results .address-box {
  display: flex;
  margin: 10px auto;
  width: 90%;
}

.address-box #address {
  border: 1px greenYellow solid;
  width: 5em;
}

.address-box label {
 flex-grow: 1;
}

.address-box input {
  flex-grow: 2;
}

.map-results .location-submit {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  border: 1px greenYellow solid;
  background-color: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

.map-results .map {
  height: 100%;
}

.hidden {
  display: none;
}
