/* Mobile first queries */

h2 {
  font-size: 1.25em;
}

button {
  font-size: 2em;
}

#cover-page button{
  margin: 5% auto;
}

#cover-page img {
  width: 100%;
}

#main-page .container {
  padding: 5% 5%;
}

#main-page h1 {
  font-size: 4em;
}

#main-page ul {
  padding: 5% 5%;
}

#main-page li {
  font-size: 1.25em;
}

#down-arrow {
  width: 35%;
  margin: 0 auto;
}

#img-browse {
  margin-top: 30%;
}

.figures {
  width: 95vmin;
  height: 95vmin;
}

.img-grid,
.img-hover {
  width: 95vmin;
  height: 95vmin;
}

#results-page form {
  height: 50vmax;
  width: 90%;
}

#results-page .container {
  padding: 2% 2%;
  flex-direction: column;
}

#plant-info {
  margin-top: 3%;
}

#plant-info main {
  padding: .5em;
}

#plant-info main img {
  height: 50%;
  width: 50%;
}

#address-box label:nth-child(3)  {
  display: none;
}

#address {
  width: 5em;
}

#no-results {
  padding: 50% 20%;
}

#no-results button {
  margin: 10%;
}

/* Larger than mobile */
@media screen and (min-width: 400px) {
  h2 {
    font-size: 1.5em;
  }

  button {
    font-size: 3em;
  }

  #main-page h1 {
    font-size: 4.5em;
  }

  #main-page h2 {
    font-size: 2em;
    margin: 3% auto;
  }

  #main-page h1:nth-child(3) {
    font-size: 3.75em;
  }

  #main-page ul {
    font-size: 1.2em;
    padding: 3% 3%;
  }

  #results-page .container {
    padding: 3% 3%;
  }

  #results-page h1 {
    font-size: 2.5em;
  }

  #results-page h2 {
    font-size: 2em;
  }

  #plant-info {
    margin-top: 3%;
  }

  #plant-info main img {
    height: 45%;
    width: 45%;
    margin: 5%;
  }

  #plant-info main p {
    font-size: 1em;
    margin: 5%;
  }

  form h1 {
    font-size: 4em;
  }

  form #address-box label {
    font-size: 2em;
  }

  #location-submit {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
  }

}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 2.25em;
  }

  button {
    font-size: 3em;
  }

  #cover-page img {
    margin: 3% auto;
    width: 100%;
  }

  #cover-page h2 {
    margin: 0 auto;
  }

  #main-page h1 {
    font-size: 7em;
  }

  #main-page h2 {
    font-size: 3em;
  }

  #main-page h1:nth-child(3) {
    font-size: 5em;
  }

  #main-page ul {
    font-size: 1.5em;
  }

  #results-page .container {
    padding: 4% 4%;
  }

  #results-page h1 {
    font-size: 3.5em;
  }

  #results-page h2 {
    font-size: 2em;
  }

  #plant-info {
    margin-top: 5%;
  }

  #plant-info main img {
    height: 40%;
    width: 40%;
    margin: 4%;
  }

  #plant-info main p {
    font-size: 1.5em;
    margin: 5%;
  }

  #plant-info main p:nth-child(3) {
    font-size: 2em;
  }

  #plant-info main button {
    font-size: 1.5em;
  }

  form h1 {
    font-size: 4em;
  }

  #address-box label {
    font-size: 2em;
  }

  #location-submit {
    font-size: 2em;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  h1 {
    font-size: 7.5em;
    margin: 1% auto;
  }

  h2 {
    font-size: 2.25em;
    margin: 3% auto;
  }

  #cover-page h2 {
    margin: 3% auto;
  }

  #main-page h1 {
    font-size: 7.5em;
  }

  #main-page h1:nth-child(3) {
    font-size: 5.5em;
  }

  #main-page ul {
    font-size: 1.75em;
  }

  .img-hover {
    left: 10vmin;
  }

  #grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .figures {
    width: 46vmin;
    height: 46vmin;
  }

  .img-grid,
  .img-hover {
    width: 46vmin;
    height: 46vmin;
  }

  #results-page .container {
    padding: 4% 4%;
  }

  #results-page h1 {
    font-size: 4.5em;
  }

  #results-page h2 {
    font-size: 2.5em;
  }

  #plant-info main p {
    font-size: 1.75em;
  }

  #address-box label {
    font-size: 2.5em;
  }

  #location-submit {
    font-size: 1.5em;
  }
}
